@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --black: #111;
  --red: #ff4655;
  --white: #fff;
  --gray: #2b2a29;
  --gradient: linear-gradient(
    135deg,
    rgb(255, 51, 66) 0%,
    rgb(255, 48, 64) 0.01%,
    rgb(255, 125, 102) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  background-color: var(--black);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

  .menu_left {
    display: flex;
    list-style: none;
    align-items: center;
    padding-left: 36px;

    li {
      a {
        text-decoration: none;
        color: var(--white);
        padding: 20px;
        text-transform: uppercase;
      }
    }
  }

  .menu_right {
    display: flex;
    list-style: none;
    align-items: center;
    padding-right: 32px;

    li {
      a {
        text-decoration: none;
        color: var(--white);
        padding: 20px;
        text-transform: uppercase;
      }

      .menu_right--btn {
        background: var(--gradient);
        padding: 5px 15px;
        color: var(--black);
        border-radius: 10px;
        font-size: 14px;
      }
    }
    li:nth-child(1) {
      a {
        background-color: var(--gray);
        display: flex;
        justify-items: center;
        align-items: center;
        padding: 10px;
        border-radius: 15px;
        svg {
          width: 25px;
          height: 25px;
        }
      }
    }
    li:nth-child(2) {
      a {
        display: flex;
        justify-items: center;
        align-items: center;
        width: 32px;
        height: 32px;
        padding: 5px;
        border-radius: 10px;

            &:hover {
                background-color: var(--gray);
            }
      }
    }
  }
}

header {
  .header-wrap {
    position: relative;

    video {
      width: 100%;
      height: 640px;
      object-fit: cover;
    }
    .header-info {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -70%);
      text-align: center;
      color: var(--white);

      p {
        font-size: 22px;
        font-weight: bold;
        margin-top: 2rem;
      }

      img {
        width: 25vw;
        fill: var(--white);
      }

      .header-info-btn--wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .header-info--btn {
          background-color: var(--red);
          display: flex;
          justify-content: center;
          align-items: center;
          width: 250px;
          height: 55px;
          text-decoration: none;
          text-transform: uppercase;
          color: var(--white);
          margin-top: 2rem;
          transition: 0.3s;
        
          &:hover{
            background-color: var(--black);
          }

          &:before{
            content: '';
            border: 1px solid hsla(38,22%,90%,.5);
            border-bottom: none;
            top: 23px;
            display: block;
            height: 30px;
            position: absolute;
            width: 265px;
          }
          &:after{
            content: '';
            border: 1px solid hsla(38,22%,90%,.5);
            border-top: none;
            bottom: -8px;
            display: block;
            height: 30px;
            position: absolute;
            width: 265px;
          }
          
        }
      }
    }
  }
}
